<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>HypnoElectronic - SENA</display-name>
    <description>Proyecto para evidencia GA7-220501096-AA5-EV03</description>

    <servlet>
        <servlet-name>AuthAPIServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.api.AuthAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthAPIServlet</servlet-name>
        <url-pattern>/api/auth/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductosAPIServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.api.ProductosAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductosAPIServlet</servlet-name>
        <url-pattern>/api/products/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoriaAdminServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.CategoriaAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaAdminServlet</servlet-name>
        <url-pattern>/admin-categorias</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsuariosAPIServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.api.UsuariosAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosAPIServlet</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>

    <!-- Servlets de Controladores de Vista -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.CarritoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductoAdminServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ProductoAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoAdminServlet</servlet-name>
        <url-pattern>/admin-inventario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsuariosAdminServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.UsuariosAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosAdminServlet</servlet-name>
        <url-pattern>/usuarios-admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/eliminar-usuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CambiarRolServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.CambiarRolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CambiarRolServlet</servlet-name>
        <url-pattern>/cambiar-rol</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarProductoServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.EditarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarProductoServlet</servlet-name>
        <url-pattern>/editar-producto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditarUsuarioFormServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.EditarUsuarioFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarUsuarioFormServlet</servlet-name>
        <url-pattern>/editar-usuario-form</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GuardarProductoServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.GuardarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarProductoServlet</servlet-name>
        <url-pattern>/guardar-producto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActualizarUsuarioServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ActualizarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuarioServlet</servlet-name>
        <url-pattern>/actualizar-usuario-ejecutar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GuardarUsuarioServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.GuardarUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarUsuarioServlet</servlet-name>
        <url-pattern>/guardar-usuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProveedorAdminServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ProveedorAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProveedorAdminServlet</servlet-name>
        <url-pattern>/admin-proveedores</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EntradaAlmacenServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.EntradaAlmacenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntradaAlmacenServlet</servlet-name>
        <url-pattern>/entrada-almacen</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetalleProductoServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.DetalleProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetalleProductoServlet</servlet-name>
        <url-pattern>/producto-detalle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MisComprasServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.MisComprasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MisComprasServlet</servlet-name>
        <url-pattern>/mis-compras</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReporteExportServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ReporteExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteExportServlet</servlet-name>
        <url-pattern>/exportar-inventario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReporteVentasServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ReporteVentasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteVentasServlet</servlet-name>
        <url-pattern>/reporte-ventas</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>ReporteDetalleServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ReporteDetalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteDetalleServlet</servlet-name>
        <url-pattern>/reporte-detalle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PedidoAdminServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.PedidoAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidoAdminServlet</servlet-name>
        <url-pattern>/admin-pedidos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmarPagoServlet</servlet-name>
        <servlet-class>com.hypnoelectronic.controller.ConfirmarPagoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmarPagoServlet</servlet-name>
        <url-pattern>/confirmar-pago</url-pattern>
    </servlet-mapping>
</web-app>